<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.personal.cleanupFiles</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/find</string>
        <string>/Users/bretthardin/Downloads</string>
        <string>-mtime</string>
        <string>+7</string>
        <string>-exec</string>
        <string>rm</string>
        <string>-rf</string>
        <string>{}</string>
        <string>;</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>16</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/com.personal.cleanupFiles.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.personal.cleanupFiles.stderr</string>
</dict>
</plist>
